@page "/categories/edit/{Id:int}"

<h3>Editar Categoria</h3>

@if(category == null)
{
	<Loading/>
}
else
{
	<FormWithName @ref="categoryForm" Model="category" TextLabel="Categoria:" OnValidSubmit="EditAsync" ReturnAction="Return" />
}
