@page "/categories/edit/{Id:int}"

<h3>Editar Categoria</h3>

@if(category == null)
{
	<Loading/>
}
else
{
	<CategoryForm @ref="categoryForm" Category="category" OnValidSubmit="EditAsync" ReturnAction="Return" />
}
