@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, Edward!</h1>

<AuthorizeView Roles="Admin">
    <Authorized>
        <p>Estas autenticado y autorizado, @context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>No estas autenticado</p>
    </NotAuthorized>
</AuthorizeView>