@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView Roles="Admin">
    <Authorized>
        <h3>Estas autenticado y autorizado, @context.User.Identity?.Name</h3>
    </Authorized>
    <NotAuthorized>
        <h3>No estas autenticado</h3>
    </NotAuthorized>
</AuthorizeView>